<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta recusandae non a, dolore sapiente accusantium quae distinctio veniam? Nulla laudantium adipisci repudiandae voluptatibus et molestias, ipsum pariatur ex omnis vel, ab tempora asperiores deserunt voluptatem magnam illum corporis eveniet, praesentium voluptates exercitationem fuga laboriosam placeat. Iste maiores inventore minima. Esse dolorem eius rem. Quae quibusdam, quis fuga facere aspernatur, quod blanditiis magni labore doloribus ducimus molestias, molestiae consequuntur. Voluptate, odit vel eligendi sit quas saepe laudantium nostrum, voluptatum facilis nisi ratione illum voluptatibus eos et facere quisquam provident at incidunt maiores soluta atque. Adipisci obcaecati rem, sed deleniti quo excepturi.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>